.chartContainer {
    border: 2px solid #000;
    border-radius: 10px;
}

.chartMargin {
    margin: 25px;
}
#graphics {
    margin: 0 auto;
    overflow: hidden;
}

.graphicContainer {
    overflow: hidden;
}