#numbers {
    overflow:hidden;
}

.numberType {
    text-align: center;
}

.numberTitleBlock {
    font-weight: bold;
    line-height: 20px;
}

.numberTitle {
    font-size: 15px;    
}

.blockId {
    border: 2px solid #000;
    min-width: 200px;
    padding: 5px;
    display: inline-block;
}

.actualNumber {
    font-size: 24px;
}

.centerText {
    text-align: center;
}

.number-spinner {
    opacity: 0;
}