#numbers {
    overflow:hidden;
}

.numberType {
    text-align: center;
}

.numberTitleBlock {
    line-height: 20px;
}

.numberTitle {
    //font-weight: bold;
    font-size: 15px;    
}

.blockId {
    border: 2px solid #000;
    //border-radius: 10px;
    //float: left;
    //margin: 50px;
    width: 300px;
    display: inline-block;
}

.actualNumber {
    font-size: 24px;
}

.centerText {
    text-align: center;
}


.number-spinner {
    opacity: 0;
}